* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-size: 1em;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

body {
    background: #f0f8ff;
    width: 80%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
}

h2 {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.3em;
}

form {
    display: flex;
    justify-content: flex-start;
}

del, .desc-completed {
    color: rgba(0, 0, 0, 0.3);
}

.desc {
    font-size: 0.8em;
}

button {
    color: #fff;
    background-color: transparent;
    padding: 0.4em 1em;
    border: none;
    transition: .2s;
    cursor: pointer;
}

input[type=text], select {
    border-radius: 0.5em;
    padding: 0.1em 1em;
    border: 1px dashed #dee4e9;
    width: 100%;
}

ol li {
    transition: .2s;
    border-radius: 0.5em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ol li:nth-child(odd) {
    background: #f9f9f9;
}

ol li:hover {
    background: #dee4e9;
}

img {
    cursor: pointer;
}

ol {
    list-style: decimal inside none;
}

li > div {
    align-items: center;
}